@use "../utilities/utilities.scss" as *;

.header-contact {
	@include header("../img/headerContact_Big.jpg", 60vh);
}

.contact {
	padding: 4em 2em;

	&__header-text {
		font-size: 3rem;
	}

	&__section-title {
		margin: 1em 0;
	}

	&__box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 4em;
	}

	&__policy-box {
		display: flex;
		justify-content: start;
		margin: 1em auto;
	}

	&__form {
		padding: 1em 4em;
		min-width: 350px;
		width: 80%;
		border: 1px solid $black;
		border-radius: 24px;

		&-box {
			display: flex;
			flex-direction: column;
			margin: 4em 0;
		}

		&-box.error .contact__form-input {
			border: 1px solid $main-color;
			background-color: #5a8f645b;
		}

		&-box.error .contact__error-text {
			visibility: visible;
		}

		&-label {
			margin-bottom: 0.5em;
			font-size: 2.2em;
		}

		&-input,
		&-textarea {
			padding: 0.8em;
			font-size: 1.8rem;
		}

		&-textarea {
			min-height: 200px;
		}

		&-link {
			text-wrap: nowrap;
		}

		&-checkbox {
			display: block;
			width: 35px;
			height: 18px;
			margin: 0.3em;
			accent-color: $main-color;
		}

		&-policy {
			font-size: 1.8rem;
			line-height: 25px;
		}

		&-btn {
			margin-top: 2em;
			padding: 0.8em 1.6em;
			font-size: 2.5rem;
			color: $white;
			background-color: $secondary-color;
			border: 1px solid #00000060;
		}
	}

	&__msg-status {
		display: none;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: absolute;
		top: 30%;
		height: 100px;
		width: 300px;
		height: 200px;
		margin: 2em;
		padding: 1em;
		border-radius: 12px;
		font-size: 2.4em;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	&__error-text {
		font-size: 1.8rem;
		margin: 0.5em;
		color: hsl(9, 100%, 64%);
		visibility: hidden;
	}

	&__info-boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 6em;
	}

	&__info-box {
		margin: 3em auto;
	}

	&__info-link {
		font-size: 2.2rem;
		font-weight: 600;
		color: $main-color;
		transition: color 0.3s;
	}

	&__info-link:hover {
		color: $secondary-color;
	}

	&__map-box {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3em 0 6em;
	}

	&__map {
		width: 80%;
		height: 300px;
		border: 1px solid $secondary-color;
		border-radius: 5px;
	}
}

.successStatus,
.errorStatus {
	display: flex;
	transform: translateY(-50%);
	opacity: 0;
	animation: msgShow 0.5s forwards;
}

.successStatus {
	background-color: hsl(143, 83%, 55%);
}

.errorStatus {
	background-color: hsl(9, 100%, 64%);
}

@keyframes msgShow {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (min-width: 576px) {
	.contact {
		&__header-text {
			font-size: 3.5rem;
		}

		&__form-btn {
			padding: 0.6em 2em;
			font-size: 2.5rem;
		}

		&__map {
			height: 400px;
		}

		&__info-link {
			font-size: 2.2rem;
		}
	}
}

@media (min-width: 992px) {
	.contact {
		&__header-text {
			font-size: 4rem;
		}

		&__map {
			height: 450px;
		}

		&__info-boxes {
			flex-direction: row;
		}

		&__info-link {
			font-size: 2.5rem;
		}
	}
}
