@use "../utilities/utilities.scss" as *;

.header {
	@include header('../../../dist/img/heroBg_small.jpg', 75vh);

	&__text-box {
		text-align: center;
		padding: 2em 3em;
		color: $white;
	}

	&__heading-name {
		font-size: 2.8rem;
		margin-bottom: 0.5em;
	}

	&__heading-text {
		font-size: 3.4rem;
	}

	&__hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000000a9;
		z-index: -5;
	}
}

.section-title {
	position: relative;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 50px;
		height: 3px;
		background-color: $secondary-color;
	}
}

.aboutus {
	padding: 4em 2em;

	&__box {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 1em;
	}

	&__img {
		display: block;
		width: 100%;
		margin: 2em 0;
	}

	&__heading {
		font-size: 2rem;
		margin-bottom: 0.8em;
		color: $main-color;
	}

	&__text {
		font-size: 1.5rem;
		line-height: 24px;
		margin: 0.5em 0;
	}
}

.adventure {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	padding: 2em;
	background-image: url("../../../dist/img/adventureBg_small.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: -5;

	&__hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0000007a;
		z-index: -10;
	}

	&__text {
		text-align: center;
		font-size: 2.2rem;
		color: $white;
		font-weight: 600;
		border: 1px solid $main-color;
		padding: 1em 1.4em;
	}
}

.offers {
	padding: 4em 2em;

	&__text {
		text-align: center;
		margin: 2.5em 0;
		font-size: 2rem;
		font-weight: 500;
		line-height: 25px;
	}

	&__card-box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__card {
		margin: 4em 0;
		padding: 1em;
		width: 80%;
		min-height: 400px;
		background-color: $secondary-color;
		color: $white;
		border-radius: 15px;
		box-shadow: rgba(0, 0, 0, 0.418) 0px 10px 30px,
			rgba(0, 0, 0, 0.22) 0px 10px 10px;
		transition: transform 0.3s;

		&-title {
			text-align: center;
			margin-top: 1em;
			font-size: 3rem;
			font-weight: 400;
		}

		&-price {
			margin: 0.8em 0;
			text-align: center;
			font-size: 4rem;
			font-weight: bold;
		}

		&-description-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			line-height: 1.9em;
			font-size: 1.8rem;
		}

		&-description {
			margin: 0 auto;
		}
		&-description .fa-check {
			color: rgb(95, 199, 25);
		}

		&-description--off {
			color: #ddd;
		}

		&-btn {
			display: block;
			font-size: 2rem;
			font-weight: 600;
			margin: 1.5em auto;
			padding: 0.5em 1em;
			border: 1px solid $white;
			border-radius: 8px;
			background-color: $white;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			transition: color 0.2s;

			&:hover {
				color: $white;
			}

			&::before {
				background-color: $main-color;
			}
		}
	}

	&__card:hover {
		transform: scale(1.05);
	}

	&__link {
		padding: 0.1em 0.2em;
		font-weight: 700;
		color: $main-color;

		&::after {
			transition: 0.3s;
		}
	}
}
